@media (min-width: 767px) {
    .navBtn{
        display: none;
    }

    .header{
        display: block;
    }
}

@media (max-width: 767px) {
    .navBtn{
        display: block;
    }

    .header{
        display: none;
    }
}


