.side_nav_Bar_link{
    text-decoration: none;
    color: #ffffff;
    padding: 0 50px;
}

.navBtn{
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    border: none;
    background: none;
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 1.5s;
}

.navBtn > span{
    font-size: 35px;
    cursor: pointer;
}

.side_nav_bar{
    background: black;
    position: fixed;
    height: 100%;
    width: 300px;
    top: 0;
    left: 0;
    transform: translateX(-300px);
    opacity: 0;
    transition: transform 1.5s, opacity 1.5s;
}

.side_nav_Bar_link{
    display: inline-block;
    height: 40px;
    margin: 35px 0;
    padding-left: 50px;
}
sdddsddfanhdnsna
gggfmmd fvdnnnnn
.side_nav_Bar_link:hover{
    color: #ffffff;
    font-size: 130%;
    transition: font-size 0.2s;
}

.side_nav_Bar_link h4:hover{
    font-size: 150%;
    transition: font-size 0.1s;
}

.nav_overlay{
    display: none;
    background: rgb(0,0,0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 30%;
    transition: opacity 1.3s;
}

.side_navBar_open{
    transform: translateX(0);
    opacity: 80%;
}

.nav_overlay_open{
    display: block;
}

.navBtn_fade{
    opacity: 0;
}