<div class="position-relative align-items-center justify-content-end d-flex">
  <video loop muted autoplay width="100%" class="d-inline-block">
    <source src="assets/videos/Boat - 44549.mp4" type="video/mp4">
  </video>
  <div class="slogan text-end">
    <h1>Welcome to Furama</h1>
    <h2>Enjoy A Luxury Experience</h2>
    <p>Leave your worries behind</p>
    <button class="btn-outline-light btn me-2">Join us</button>
    <button class="btn-outline-light btn">Login</button>
  </div>
</div>
<div>
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
