<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit service</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bad Script' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/121b5e5230.js" crossorigin="anonymous"></script>
</head>
<body style="font-family: Courgette,serif;background: #E0FFFF">
<div class="container-fluid position-relative">
    <div class="row">
        <div class="col-lg-10 d-flex justify-content-center  position-absolute" style="top: 5%">
            <div class="row" style="width: 95%">
                <div class="col-lg-12 text-center"><h2>Edit service</h2></div>
                <div class="col-lg-12 fw-bold text-dark">
                    <form action="/facility/save" th:object="${facilityDto}" method="post">
                        <input type="hidden" th:field="*{id}">
                        <div class="row">
                            <div class="col-lg-2 ps-5">
                                <input type="hidden" th:field="*{facilityType}" id="type">
                                <div class="form-check" th:each="type:${facilityTypeList}"
                                     th:attr="onclick=|showInput('${type.id}')|">
                                    <div th:if="${type.id == facilityDto.facilityType.id}">
                                        <input class="form-check-input" type="radio" name="type" th:value="${type.id}"
                                               th:id="${type.name}"
                                               checked>
                                        <input type="hidden" th:value="${type.id}" id="onload">
                                    </div>
                                    <div th:unless="${type.id == facilityDto.facilityType.id}">
                                        <input class="form-check-input" type="radio" name="type" th:value="${type.id}"
                                               th:id="${type.name}">
                                    </div>
                                    <label class="form-check-label" th:for="${type.name}"
                                           th:text="${type.name}"></label>
                                </div>
                            </div>
                            <div class="col-lg-10 text-dark">
                                <div class="row">
                                    <div class="col-lg-6 ps-5 pe-5">
                                        <div class="row pb-4">
                                            <div class="col-lg-12">
                                                <span>Name: </span><span class="text-danger" th:errors="*{name}"></span>
                                            </div>
                                            <div class="col-lg-12"><input type="text" class="form-control"
                                                                          placeholder="Service name"
                                                                          aria-label="Service name"
                                                                          th:field="*{name}"></div>
                                        </div>
                                        <div class="row pb-4">
                                            <div class="col-lg-12">
                                                <span>Area: </span><span class="text-danger" th:errors="*{area}"></span>
                                            </div>
                                            <div class="col-lg-12"><input type="number" class="form-control"
                                                                          placeholder="Area"
                                                                          aria-label="Area" th:field="*{area}">
                                            </div>
                                        </div>
                                        <div class="row pb-4">
                                            <div class="col-lg-12">
                                                <span>Cost: </span><span class="text-danger" th:errors="*{cost}"></span>
                                            </div>
                                            <div class="col-lg-12"><input type="number" name="cost" class="form-control"
                                                                          placeholder="Cost"
                                                                          aria-label="Cost" th:field="*{cost}">
                                            </div>
                                        </div>
                                        <div class="row pb-4">
                                            <div class="col-lg-12">
                                                <span>Max people: </span>
                                                <span class="text-danger" th:errors="*{maxPeople}"></span>
                                            </div>
                                            <div class="col-lg-12"><input type="number" class="form-control"
                                                                          placeholder="Max people"
                                                                          aria-label="Max people"
                                                                          th:field="*{maxPeople}"></div>
                                        </div>
                                        <div class="row pb-4">
                                            <div class="col-lg-12"><span>Rental type: </span></div>
                                            <div class="col-lg-12">
                                                <select class="form-select" th:field="*{rentType}">
                                                    <option th:each="rentType:${rentTypeList}"
                                                            th:value="${rentType.id}" th:text="${rentType.name}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <button type="submit" class="btn btn-primary w-100">
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 ps-5 pe-5">
                                        <div class="row pb-4" style="display: none" id="standard">
                                            <div class="col-lg-12">
                                                <span>Room standard: </span><span class="text-danger"
                                                                                th:errors="*{standardRoom}"></span>
                                            </div>
                                            <div class="col-lg-12"><input id="standardInput" type="text"
                                                                          class="form-control"
                                                                          placeholder="Room standard"
                                                                          th:field="*{standardRoom}"
                                                                          aria-label="Room standard"></div>
                                        </div>
                                        <div class="row pb-4" style="display: none" id="convenience">
                                            <div class="col-lg-12">
                                                <span>Other convenience: </span><span class="text-danger"
                                                                                    th:errors="*{otherConvenient}"></span>
                                            </div>
                                            <div class="col-lg-12"><input id="convenienceInput" type="text"
                                                                          class="form-control"
                                                                          placeholder="Other convenience"
                                                                          th:field="*{otherConvenient}"
                                                                          aria-label="Other convenience"></div>
                                        </div>
                                        <div class="row pb-4" style="display: none" id="floors">
                                            <div class="col-lg-12"><span>Number of floors: </span>
                                                <span class="text-danger" th:errors="*{floors}"></span>
                                            </div>
                                            <div class="col-lg-12"><input id="floorsInput" type="number"
                                                                          class="form-control"
                                                                          placeholder="Number of floors"
                                                                          aria-label="Number of floor"
                                                                          th:field="*{floors}"
                                                                          value="${facility.floors}"></div>
                                        </div>
                                        <div class="row pb-4" style="display: block" id="free">
                                            <div class="col-lg-12">
                                                <span>Facility free: </span><span class="text-danger"
                                                                                th:errors="*{facilityFree}"></span>
                                            </div>
                                            <div class="col-lg-12"><input id="freeInput" type="text"
                                                                          class="form-control"
                                                                          placeholder="Facility free"
                                                                          th:field="*{facilityFree}"
                                                                          aria-label="Facility free"></div>
                                        </div>
                                        <div class="row pb-4" style="display: none" id="poolArea">
                                            <div class="col-lg-12">
                                                <span>Pool area: </span><span class="text-danger"
                                                                             th:errors="*{poolArea}"></span>
                                            </div>
                                            <div class="col-lg-12"><input id="poolAreaInput" type="number"
                                                                          class="form-control"
                                                                          th:field="*{poolArea}"
                                                                          placeholder="Pool area" aria-label="Pool area"
                                                                          value="${facility.poolArea}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-10 mt-2 d-flex justify-content-center">
            <img style="border-radius: 30px" width="91%"
                 src="https://s3.ap-southeast-2.amazonaws.com/travlr.com/uploads/images/venue/923e2231037b6ad79efbd200cf2a1d6e.jpg"
                 alt="">
        </div>
        <nav th:replace="nav::nav_bar"></nav>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
     tabindex="-1">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger text-light">
                <h5>Edit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span th:if="${mess != null}" th:text="${mess}" id="modalInfo"></span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    let code = document.getElementById("onload").value;
    showInput(code);

    function showInput(value) {
        document.getElementById("type").value = value;
        switch (value) {
            case "2":
                console.log(value);
                document.getElementById("standard").style.display = "block";
                document.getElementById("floors").style.display = "block";
                document.getElementById("convenience").style.display = "block";
                document.getElementById("free").style.display = "none";
                document.getElementById("poolArea").style.display = "none";
                document.getElementById("poolAreaInput").value = null;
                document.getElementById("freeInput").value = null;
                console.log($("#oldStandard").val())
                break;
            case "1":
                document.getElementById("standard").style.display = "block";
                document.getElementById("floors").style.display = "block";
                document.getElementById("convenience").style.display = "block";
                document.getElementById("free").style.display = "none";
                document.getElementById("poolArea").style.display = "block";
                document.getElementById("freeInput").value = null;
                break;
            case "3":
                document.getElementById("standard").style.display = "block";
                document.getElementById("floors").style.display = "none";
                document.getElementById("convenience").style.display = "none";
                document.getElementById("free").style.display = "block";
                document.getElementById("poolArea").style.display = "none";
                document.getElementById("floorsInput").value = null;
                document.getElementById("convenienceInput").value = null;
                document.getElementById("poolAreaInput").value = null;
                break;
        }
    }

    $(document).ready(function () {
        if ($("#modalInfo").val() != null) {
            $("#exampleModalToggle").modal('show')
        }
    })
</script>
</body>
</html>
