<div class="position-relative d-flex justify-content-center text-white align-items-center">
  <div class="position-absolute bg-black bg-opacity-50 w-100">
    <h1 class="text-center p-3" style="font-size: 60px">Customer</h1>
  </div>
  <img src="../../assets/images/customer-background.jpg" width="100%"/>
</div>
<div class="container mt-5 mb-5 w-50">
  <div class="mb-3">
    <h5 class="text-center">Update customer</h5>
  </div>
  <form [formGroup]="customerForm">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="customerName" formControlName="name">
      <label for="customerName">Customer name</label>
    </div>
    <div class="form-floating mb-3">
      <input type="date" class="form-control" id="dayOfBirth" formControlName="dayOfBirth">
      <label for="dayOfBirth">Day of birth</label>
    </div>
    <div class="form-floating mb-3">
      <select id="gender" class="form-select mb-3" formControlName="gender">
        aria-label="Default select example">
        <option value="true">Male</option>
        <option value="false">Female</option>
      </select>
      <label for="gender">Day of birth</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="idCard" formControlName="idCard">
      <label for="idCard">ID card</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="phone" formControlName="phoneNumber">
      <label for="phone">Phone number</label>
    </div>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="email" formControlName="email">
      <label for="email">Email</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="address" formControlName="address">
      <label for="address">Address</label>
    </div>
    <div class="form-floating mb-3" formGroupName="customerType">
      <select id="customerType" class="form-select mb-3" aria-label="Default select example" formControlName="id">
        <option *ngFor="let type of customerTypes" value="{{type.id}}">{{type.name}}</option>
      </select>
      <label for="customerType">Day of birth</label>
    </div>
    <div>
      <button class="btn text-white w-100" (click)="edit()"
              style="background: #00787b">Save
      </button>
    </div>
  </form>
</div>
