<div class="position-relative d-flex justify-content-center text-white align-items-center">
  <div class="position-absolute bg-black bg-opacity-50 w-100">
    <h1 class="text-center p-3" style="font-size: 60px">Customer</h1>
  </div>
  <img src="../../assets/images/customer-background.jpg" width="100%"/>
</div>
<div class="mt-5 mb-5 container">
  <h3 class="text-center">Customer List</h3>
  <table class="table table-hover mt-5">
    <thead style="background: #00787b;color: white">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Birth Day</th>
      <th>Gender</th>
      <th>ID card</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Address</th>
      <th>Customer type</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customerList, let i = index">
      <td>{{i+1}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.dayOfBirth}}</td>
      <td *ngIf="customer.gender">Male</td>
      <td *ngIf="!customer.gender">Female</td>
      <td>{{customer.idCard}}</td>
      <td>{{customer.phone}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.address}}</td>
      <td>{{customer.customerType.type}}</td>
    </tr>
    </tbody>
  </table>
</div>
