<div class="position-relative d-flex justify-content-center text-white align-items-center">
  <div class="position-absolute bg-black bg-opacity-50 w-100">
    <h1 class="text-center p-3" style="font-size: 60px">Customer</h1>
  </div>
  <img src="../../assets/images/customer-background.jpg" width="100%"/>
</div>
<div class="mt-5 mb-5 container-fluid ps-5 pe-5">
  <h3 class="text-center">Customer List</h3>
  <div class="d-flex justify-content-center mt-5">
    <a class="btn text-light" routerLink="/customer/add" style="background: #00787b">Add new customer</a>
  </div>
  <table class="table table-hover table-responsive mt-5">
    <thead style="background: #00787b;color: white">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Birth Day</th>
      <th>Gender</th>
      <th>ID card</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Address</th>
      <th>Customer type</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customerList, let i = index">
      <td>{{i+1}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.dayOfBirth}}</td>
      <td *ngIf="customer.gender">Male</td>
      <td *ngIf="!customer.gender">Female</td>
      <td>{{customer.idCard}}</td>
      <td>{{customer.phoneNumber}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.address}}</td>
      <td>{{customer.customerType.name}}</td>
      <td>
        <button class="btn" style="color: #00787b" [routerLink]="['/customer/edit',customer.id]"><i class="fa-sharp fa-solid fa-pen"></i></button>
        <button class="btn" style="color: #00787b" (click)="getInFoToModal(customer)"
                data-bs-toggle="modal" data-bs-target="#deleteModal">
          <i class="fa-sharp fa-solid fa-trash"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <nav>
    <ul class="pagination">
      <li class="page-item">
        <button class="page-link" (click)="getPage(page - 1)">Previous</button>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="getPage(page + 1)">Next</a>
      </li>
    </ul>
  </nav>
</div>

<div *ngIf="customerToDelete" class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-light" style="background: #00787b">
        <h5 class="modal-title" id="exampleModalLabel">Delete customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-3">
            <p>Name :</p>
          </div>
          <div class="col-lg-9">
            <p>{{customerToDelete.name}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <p>ID card :</p>
          </div>
          <div class="col-lg-9">
            <p>{{customerToDelete.idCard}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <p>Phone :</p>
          </div>
          <div class="col-lg-9">
            <p>{{customerToDelete.phoneNumber}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <p>Email :</p>
          </div>
          <div class="col-lg-9">
            <p>{{customerToDelete.email}}</p>
          </div>
        </div>
        <h6 class="text-danger">Are you sure that you want to delete this customer?</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn text-light" style="background: #00787b"
                data-bs-dismiss="modal" (click)="delete(customerToDelete.id)">Yes</button>
      </div>
    </div>
  </div>
</div>
