<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bad Script' rel='stylesheet'>
    <style>
        .table-hover > tbody > tr:hover > * {
            --bs-table-accent-bg: var(--bs-table-hover-bg);
            color: #000000;
        }

        .table-hover > tbody > tr:hover button {
            background: #000000;
        }
    </style>
    <script src="https://kit.fontawesome.com/121b5e5230.js" crossorigin="anonymous"></script>
</head>
<body style="font-family: Courgette,serif;background: #E0FFFF">
<div class="container-fluid position-relative">
    <div class="row">
        <div class="col-lg-10 d-flex justify-content-start  position-absolute ps-5 pe-5" style="top: 10%">
            <div class="w-100 ps-5 pe-5 text-dark">
                <div class="row text-center">
                    <h2>Customer List</h2>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-3">
                        <a href="/customer/add">
                            <button class="btn btn-dark text-warning shadow">Add new Customer</button>
                        </a>
                    </div>
                    <div class="col-lg-9">
                        <form action="/customer" method="get">
                            <div class="row d-flex justify-content-end">
                                <div class="col-lg-3">
                                    <input type="text" placeholder="customer name" name="searchValue"
                                           class="form-control shadow">
                                    <input type="hidden" name="use" th:value="${use}">
                                </div>
                                <div class="col-lg-2">
                                    <button type="submit"
                                            class="btn btn-dark text-warning w-100 shadow">search
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <table class="table table-hover text-dark table-responsive w-100 mt-3 shadow" id="list">
                    <thead>
                    <tr class="text-center">
                        <th>#</th>
                        <th>Name</th>
                        <th>Day of birth</th>
                        <th>Gender</th>
                        <th>ID card</th>
                        <th>Customer type</th>
                        <th>address</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${result!=null}">
                        <td th:text="${result}" class="text-danger" colspan="10"></td>
                    </tr>
                    <tr th:each="customer,status:${customerList}">
                        <td th:text="${customerList.number * customerList.size + status.count}"></td>
                        <td th:text="${customer.name}"></td>
                        <td th:text="${customer.dayOfBirth}"></td>
                        <td th:if="${customer.gender == true}">
                            Male
                        </td>
                        <td th:if="${customer.gender == false}">
                            Female
                        </td>
                        <td th:text="${customer.idCard}"></td>
                        <td th:text="${customer.customerType.name}"></td>
                        <td th:text="${customer.address}"></td>
                        <td>
                            <a th:href="@{/customer/edit(id = ${customer.id})}">
                                <button type="button" style="height: 43px"
                                        class="btn btn-dark text-warning p-2"><span
                                        class="material-symbols-outlined">edit</span></button>
                            </a>
                        </td>
                        <td class="pe-0">
                            <button type="button" style="height: 43px"
                                    th:attr="onclick=|getInfoToModal('${customer.id}','${customer.name}','${customer.phoneNumber}','${customer.email}')|"
                                    class="btn btn-dark text-warning p-2"
                                    data-bs-toggle="modal" data-bs-target="#deleteModal">
                                <span class="material-symbols-outlined">delete</span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item shadow">
                            <a class="page-link text-dark" th:if="${customerList.hasPrevious()}"
                               th:href="@{/customer(page= ${customerList.number -1},searchValue=${searchValue},use=${use})}"
                               aria-label="Previous">
                                <span aria-hidden="true">&#9754;</span>
                            </a>
                        </li>
                        <li th:each="p,index: ${pageNumber}" class="shadow">
                            <div id="page-item " class="page-item" th:if="${index.index == customerList.number}">
                                <a class="page-link bg-dark text-warning"
                                   th:href="@{/customer(page=${index.index},searchValue=${searchValue},use=${use})}"
                                   th:text="${index.index + 1}"></a>
                            </div>
                            <div class="page-item" th:unless="${index.index == customerList.number}">
                                <a class="page-link text-dark"
                                   th:href="@{/customer(page=${index.index},searchValue=${searchValue},use=${use})}"
                                   th:text="${index.index + 1}"></a>
                            </div>
                        </li>
                        <li class="page-item shadow">
                            <a class="page-link text-dark" th:if="${customerList.hasNext()}"
                               th:href="@{/customer(page=${customerList.number + 1},searchValue=${searchValue},use=${use})}"
                               aria-label="Previous">
                                <span aria-hidden="true">&#9755;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-lg-10 p-0 pt-2 d-flex justify-content-center">
            <img style="border-radius: 30px" class="shadow" width="89%"
                 src="https://img.freepik.com/premium-photo/white-plane-yellow-background-flat-lay-design-travel-concept-3d-rendering_494516-14.jpg?w=2000"
                 alt="">
        </div>
        <nav th:replace="~{nav::nav_bar}"></nav>
    </div>
</div>
<form action="/customer/delete" method="get" class="m-0">
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-danger text-light">
                    <h5 class="modal-title" id="exampleModalLabel2">Delete Customer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mt-2" hidden>
                        <div class="col-lg-4">Customer code:</div>
                        <div class="col-lg-8">
                            <input type="text" readonly name="customerCode" id="code" class="form-control">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-4">Name:</div>
                        <div class="col-lg-8">
                            <input type="text" readonly id="name" class="form-control">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-4">Phone:</div>
                        <div class="col-lg-8">
                            <input type="text" readonly id="phone" class="form-control">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-4">Email:</div>
                        <div class="col-lg-8">
                            <input type="text" readonly id="email" class="form-control">
                        </div>
                    </div>
                    <div class="mt-2 row text-center">
                        <p class="text-danger">Are you sure that you want to delete this customer?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Yes</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div  th:if="${mess != null}" class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
     tabindex="-1">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-light bg-success">
                <h5 id="modalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span th:text="${mess}"></span>
                <input type="hidden" th:value="${mess}"  id="modalInfo">
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src=/js/bootstrap.min.js></script>
<script>
    function getInfoToModal(id, name, phone, email) {
        document.getElementById("code").value = id;
        document.getElementById("name").value = name;
        document.getElementById("phone").value = phone;
        document.getElementById("email").value = email;
    }

    $(document).ready(function (){
        if ($("#modalInfo").val() != null){
            $("#exampleModalToggle").modal('show')
            if ($("#modalInfo").val() === "Edit successfully!"){
                $("#modalTitle").text("edit")
            }else {
                $("#modalTitle").text("Delete")
            }
        }
    })
</script>
</body>
</html>

