<div class="position-relative d-flex justify-content-center text-white align-items-center">
  <div class="position-absolute bg-black bg-opacity-50 w-100">
    <h1 class="text-center p-3" style="font-size: 60px">Customer</h1>
  </div>
  <img src="../../assets/images/customer-background.jpg" width="100%"/>
</div>
<div class="container mt-5 mb-5 w-50">
  <div class="mb-3">
    <h5 class="text-center">Add new customer</h5>
  </div>
  <form action="">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="customerName" placeholder="name">
      <label for="customerName">Customer name</label>
    </div>
    <div class="form-floating mb-3">
      <input type="number" class="form-control" id="dayOfBirth" placeholder="name">
      <label for="dayOfBirth">Day of birth</label>
    </div>
    <select id="gender" class="form-select mb-3">
      aria-label="Default select example">
      <option value="0">Choose gender</option>
      <option value="1">Male</option>
      <option value="2">Female</option>
    </select>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="idCard" placeholder="name">
      <label for="idCard">ID card</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="phone" placeholder="name">
      <label for="phone">Phone number</label>
    </div>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="email" placeholder="name">
      <label for="email">Email</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="address" placeholder="name">
      <label for="address">Address</label>
    </div>
    <select id="customerType" class="form-select mb-3" aria-label="Default select example">
      <option value="0">Choose customer type</option>
      <option value="1">Diamond</option>
      <option value="2">Platinum</option>
      <option value="3">Gold</option>
      <option value="4">Silver</option>
      <option value="5">Member</option>
    </select>
    <div>
      <button class="btn text-white w-100"
              style="background: #00787b">Add
      </button>
    </div>
  </form>
</div>
